# --- Python 垃圾 ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
bin/
include/
share/
.python-version
pip-log.txt
pip-delete-this-directory.txt

# --- Flutter / Dart 垃圾 ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_export_environment.sh
/linux/flutter/ephemeral/

# --- IDE & 系统垃圾 ---
.vscode/
.idea/
*.swp
*.bak
.DS_Store
Thumbs.db

# --- 项目特有记录 ---
*.log

# --- Qt Creator 垃圾 ---
.qtcreator/
build-*/  # Qt Creator 的构建目录，通常以 build- 开头
*.pro.user
*.pro.user.*  # 包含用户特定设置的文件
*.qmlc  # 编译后的 QML 文件
*.qmltypes  # QML 类型信息文件
*.moc  # Meta-Object Compiler 生成的文件
*.rcc  # Qt 资源文件编译后的文件
*.qrc  # Qt 资源文件
*.qrc.cpp  # Qt 资源文件编译后的 C++ 文件
*.qrc.h  # Qt 资源文件编译后的头文件    