[Desktop Entry]
Version=1.0
Name=OmniStore
GenericName=App Store
Comment=Unified Software Store
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;store;
Icon=omnistore
MimeType=x-scheme-handler/omnistore;
