[Desktop Entry]
Version=1.0
Name=OmniStore
GenericName=App Store
GenericName[zh_CN]=应用商店
GenericName[zh_TW]=應用程式商店
Comment=Unified Software Store
Comment[zh_CN]=统一的软件商店
Comment[zh_TW]=整合式軟體商店
Exec=/usr/bin/omnistore %u
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;store;
Keywords[zh_CN]=应用;软件;商店;
Keywords[zh_TW]=應用程式;軟體;商店;
Icon=org.meo.OmniStore
MimeType=x-scheme-handler/omnistore;
